.nav {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 0 2vw;
}

.navLinksSection {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bolder;
}

.navLinks {
  margin: 1vw;
  font-size: 1.6rem;
}
