.topicsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr {
  width: 100%;
}

.topicsContainer h2 {
  font-size: 2rem;
}

.topicsContainer p {
  font-size: 1.5rem;
}

.sectionCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2vh;
  column-gap: 2vw;
  margin: 5vh auto;
}
