.cardContainer {
  width: 290px;
  height: 290px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
  position: relative;
  margin: 0 auto 2vh auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 37%;
}

.titleContainer h1 {
  font-size: 1.3rem;
  text-align: center;
}

.summaryContainer {
  font-size: 1rem;
  height: 63%;
  text-align: justify;
}

.summaryContainer p {
  margin: 0;
}

.type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  font-size: 1.1rem;
  margin: 0;
  padding: 2px 5px;
}

.contentContainer {
  width: 90%;
  margin: 0 auto;
  height: 290px;
}

.cardContainer:hover {
  color: black;
}
