.header {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  justify-content: center;
  /* height: 30vh; */
  padding: 2vh 0;
}

.textContainer {
  font-size: 0.9rem;
  margin: 0 1rem;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer h1 {
  text-align: center;
  margin: 0;
}

.textContainer p {
  text-align: center;
  margin: 0;
}

.imageContainer {
  display: flex;
  justify-content: center;
  order: 1;
}

.image {
  height: 70px;
}

@media (min-width: 374px) {
  .image {
    height: 90px;
  }
  .textContainer {
    font-size: 1rem;
  }
}

@media (min-width: 767px) {
  .imageContainer {
    height: 110px;
    display: flex;
    align-items: center;
  }

  .image {
    /* max-height: 110px; */
    height: 80%;
  }
  .textContainer {
    font-size: 1.4rem;
  }
  .header {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .imageContainer {
    height: 160px;
    display: flex;
    align-items: center;
  }

  .image {
    /* max-height: 110px; */
    height: 90%;
  }
  .textContainer {
    font-size: 1.6rem;
  }
  .header {
    flex-direction: row;
  }

  .textContainer {
    max-width: 50%;
  }
}
