.mainContainer {
}

.titleContainer {
  text-align: center;
  text-decoration: underline;
  font-size: 1.2rem;
}

.titleContainer h2 {
  margin: 0;
}

.descriptionContainer {
  text-align: center;
  font-size: 1.1rem;
}
